@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 53px;
  z-index: 1;
}

.header-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  margin-right: 70px;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link:hover .dot {
  background-color: white;
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: solid white 1px;
  margin-right: 14px;
}
.dot_active {
  background-color: white;
}

.social-media__link {
  text-decoration: none;
  margin-right: 20px;
}
.social-media__link:last-child {
  margin-bottom: 0;
}
.social-media__link:hover {
  opacity: 0.65;
}

.first-screen {
  background: url(../img/bg_mask-group.png), linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-repeat: no-repeat;
  background-size: cover;
}
.first-screen-wrapper {
  max-width: 1600px;
  height: 800px;
  margin: 0 auto;
}

.heading {
  height: calc(100% - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.heading__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: white;
  margin-bottom: 20px;
}
.heading__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: white;
}

.arrow-heading-down {
  margin: -90px auto;
  width: 40px;
  height: 40px;
  border: solid 1px white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

i {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.projects {
  margin-top: 100px;
}

.heading-item {
  margin-bottom: 147px;
}
.heading-item::before {
  content: "";
  display: block;
  position: relative;
  width: 100px;
  border: 1px solid black;
  margin: 30px auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  text-align: center;
}
.title_color {
  color: white;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 177px;
}
.content_bottom {
  margin-bottom: 120px;
}

.rectangles {
  margin-right: 70px;
  position: relative;
}
.rectangles_right-aligned {
  margin-right: 0;
  margin-left: 70px;
}

.rectangle-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #55B7FF;
  top: -57px;
  right: 215px;
  z-index: -1;
}
.rectangle-bg_down {
  right: -215px;
  background: #7E5AFF;
}

.desc {
  margin: 57px 0 0;
}

.desc__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}

.desc__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin: 19px 0 40px;
}

.btn {
  width: 190px;
  height: 50px;
  border: solid 1px black;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
.btn:hover, .btn:active, .btn:focus {
  -webkit-box-shadow: 4px 4px 36px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 4px 4px 36px 4px rgba(0, 0, 0, 0.18);
}

.location {
  margin-top: 60px;
}
.location__info {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-left: 10px;
}

.news {
  background: url(../img/bg-news.png), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.news-wrapper {
  height: 978px;
}
.news-content {
  position: relative;
}
.news-heading {
  padding-top: 120px;
  padding-bottom: 90px;
}
.news-heading::before {
  content: "";
  display: block;
  position: relative;
  width: 100px;
  border: 1px solid white;
  margin: 30px auto;
}

.arrow-news-left {
  width: 40px;
  height: 40px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: -115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.arrow-news-right {
  width: 40px;
  height: 40px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 250px;
  right: -115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

i {
  border: solid rgb(255, 255, 255);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.arrow-right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider-item {
  max-width: 370px;
  background: white;
  margin: 0 15px;
}

.slider-content {
  padding: 0 20px;
}

.slider-content__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin: 30px 0 15px;
}

.slider-content__desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  margin-bottom: 39px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}
.profile__avatar {
  margin-right: 20px;
  border-radius: 50%;
}
.profile-info__name {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
}
.profile-info__data {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.gallery {
  margin-top: 150px;
}
.gallery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.small-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.small-pics__item1, .small-pics__item3 {
  margin: 0 10px 10px 10px;
}
.small-pics__item2, .small-pics__item4 {
  margin-bottom: 10px;
}

.button-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}