@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 53px;
}

.header-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  margin-right: 70px;
}
.nav__link:last-child {
  margin-right: 0;
}
.nav__link:hover .dot {
  background-color: white;
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: solid white 1px;
  margin-right: 14px;
}
.dot__active {
  background-color: white;
}

.social-media__link {
  text-decoration: none;
  margin-right: 20px;
}
.social-media__link:last-child {
  margin-bottom: 0;
}
.social-media__link:hover {
  opacity: 0.65;
}

.first-screen {
  height: 80vh;
  background: url(../img/bg_mask-group.png), linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.heading__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: white;
  margin-bottom: 20px;
}
.heading__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: white;
  margin-bottom: 240px;
}

.arrow {
  margin: 0 auto;
  width: 40.09px;
  height: 40px;
  border: solid 1px white;
  border-radius: 50%;
}