// fonts start

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap');

// fonts end


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

// header start

.header {
  position: absolute;
  width: 100%; 
  top: 53px;
  z-index: 1;
}

.header-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  margin-right: 70px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .dot {
      background-color: white;
    }
  }
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: solid white 1px;
  margin-right: 14px;

  &_active {
    background-color: white;
  }
}

.social-media__link {
  text-decoration: none;
  margin-right: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.65;
  }
}

// header end


// first-screen start

.first-screen {
  background: url(../img/bg_mask-group.png), linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-repeat: no-repeat;
  background-size: cover;

  &-wrapper {
    max-width: 1600px;
    height: 800px;
    margin: 0 auto;
  }
}

.heading {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: white;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3em;
    color: white;    
  }
}

.arrow-heading-down {
  margin: -90px auto;
  width: 40px;
  height: 40px;
  border: solid 1px white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;

}

.arrow-down {
  transform: rotate(45deg);
}

// first-screen end



// projects start

.projects {
  margin-top: 100px;  
}

.heading-item {
  margin-bottom: 147px;

  &::before {
    content: '';
    display: block;
    position: relative;
    width: 100px;
    border: 1px solid black;
    margin: 30px auto;        
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  text-align: center;

  &_color {
    color: white;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 177px;

  &_bottom {
    margin-bottom: 120px;
  }
}

.rectangles {
  margin-right: 70px;
  position: relative;

  &_right-aligned{
    margin-right: 0;
    margin-left: 70px;
  }
}

.rectangle-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #55B7FF;
  top: -57px;
  right: 215px;
  z-index: -1;

  &_down {
    right: -215px;
    background: #7E5AFF;
  }
}

.desc {
  margin: 57px 0 0;
}

.desc__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}

.desc__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin: 19px 0 40px;
}

.btn {
  width: 190px;
  height: 50px;
  border: solid 1px black;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black; 

  &:hover, &:active, &:focus {
    box-shadow: 4px 4px 36px 4px rgba(0,0,0,0.18);
  } 
}

.location {
  margin-top: 60px;

  &__info {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000; 
    margin-left: 10px; 
  }
}
// projects end



// news start

.news {
 background: url(../img/bg-news.png), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &-wrapper {    
    height: 978px;    
  }

  &-content {
    position: relative; 
  }
  
  &-slider {
    // overflow: hidden;
  }
}

.news-heading {
  padding-top: 120px;
  padding-bottom: 90px;

  &::before {
    content: '';
    display: block;
    position: relative;
    width: 100px;
    border: 1px solid white;
    margin: 30px auto;        
  }
}

// arrows start
.arrow-news-left {
  width: 40px;
  height: 40px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: -115px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.arrow-news-right {
  width: 40px;
  height: 40px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 250px;
  right: -115px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

i {
  border: solid rgb(255, 255, 255);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;

}

.arrow-left {
  transform: rotate(135deg);  
}

.arrow-right {
  transform: rotate(-45deg);  
}

// arrows end

.slider-item {
  max-width: 370px;
  // max-height: 514px;
  background: white;  
  margin: 0 15px;
}

.slider-content {
  padding: 0 20px;
}

.slider-content__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin: 30px 0 15px;
}

.slider-content__desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  margin-bottom: 39px;
}

.profile {
  display: flex;
  padding-bottom: 30px;
  

  &__avatar {
    margin-right: 20px;
    border-radius: 50%;
  }

  &-info__name {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2C4058;
  }

  &-info__data {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #55B7FF;
  }
}

// news end



// gallery start

.gallery {
  margin-top: 150px;

  &-content {
    display: flex;
    margin-bottom: 60px;
  }
}

.small-pics {
  display: flex;
  flex-wrap: wrap;

  &__item1, &__item3 {
    margin: 0 10px 10px 10px;    
  }

  &__item2, &__item4 {
    margin-bottom: 10px;
  }
}

.button-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}


// gallery end