// style for slick-slider
.heading-slider.slick-initialized {
    height: 100%;
    .slick-list, .slick-track {
      height: 100%;
    }
    
    .slick-slide {
      display: flex;
    }
    
    .slick-dots {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      
      li {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: solid white 1px;
        margin-right: 14px;
        cursor: pointer;
        margin-bottom: 40px;
      }
    
      button {
        display: none;
      }
    
      .slick-active {
        background-color: white;
      }
    }
}
  